@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

:root {
    --background: #ECE9E8;
    --text: #000;
    --accent: #0275d8;
}

.switch input {
    display: none;
}

.d-none {
    background-color: #0091EA;
    width: 40%;
}

h3 {
    text-align: left;
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: 0.5s background ease;
    font-family: 'Oxygen', sans-serif;
}

nav {
    background-color: var(--accent);
    top: 0px;
}

input {
    width: 40%;
}
.signup-img{
    background-image: url('images/img13.jpg');
}
.login-img{
    background-image: url('images/img2.jpg');
}

.visible {
    visibility: visible !important;
}

a:hover {
    color: purple;
    text-decoration: none;
}

.white {
    color: var(--text);
}

.black {
    color: black;
}
.active1{
    color: #A0AAB4;
}

.top {
    margin-top: 80px;
}

.to {
    margin-top: 30px;
}

.left {
    margin-left: 30px;
}

.text {
    text-align: center;
    color: var(--text);
}

.accent {
    color: var(--accent);
}

.main-image {
    height: auto;
    width: 100%;
}
.home-img{
    width: 800px; 
    height: 600px;
}

hr {
    border: 1px solid black;
}

.index{
    margin-top: 1px;
}

/* text over images probably */

.pic-text {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--accent);
}

.pic {
    text-align: center;
    position: relative;
}


/* ok it worked */

footer {
    background-color: var(--accent);
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    color: white;
    text-align: center;
}

strong {
    color: white;
}


/* card hover effect */

.card {
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 0 0 50px rgba(33, 33, 33, .6);
}

.card0 a {
    text-decoration: none;

}

.card-img{
    width: 315px;
    height: 600px;
}

.card-back{
    background-color: whitesmoke;
    
}

/* card */


/* forms */

.form {
    color: var(--accent);;
}

.content {
    display: flex;
}

.width {
    width: 50%;
    margin-top: 50px;
}

.border {
    background-color: rgb(255, 255, 255, 0.86);
    border-radius: 2%;
}

.login {
    margin-top: 150px;
}

/* product page */
.product-img{
    width: 700px; 
    height: 400px;
}
.product-content{
    display: flex;
}

/* forms */

.adminBody {
    background-color: #81D4FA;
}

.sidebar {
    position: fixed;
}


/* like button */

.like {
    outline: 0;
    cursor: pointer;
    color: white;
}

.like:focus {
    outline: none;
}

.blue {
    color: var(--accent);;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[data-theme="dark"]{
    --background: #232933;
    --text: #ECE9E8;
    --accent: #011D36;
    /* 011D36 */
}

[data-theme="dark"] .card-back{
    background-color: #1F1F1F;
    /* 252333 */
}

[data-theme="dark"] .card:hover {
    box-shadow: 0 0 50px rgba(116, 116, 116, .6);
}

[data-theme="dark"]a:hover {
    color: #CF9FCF;
    text-decoration: none;
}
[data-theme="dark"].signup-img{
    background-image: url('images/img13.jpg');
    filter: brightness(10%);
    -webkit-filter: brightness(50%);
}
[data-theme="dark"].login-img{
    background-image: url('images/img2.jpg');
    filter: brightness(10%);
}
[data-theme="dark"].active1{
    color: #282B2D;
}

@media screen and (max-width: 576px){ 
    /* mobile */

    .home-img{
        width: auto; 
        height: 200px;
    }

    .apartments{
        display: none;
    }

    .product-img{
        width: 100%; 
        height: 300px;
    }

    .product-content{
        display: block;
    }

    .width {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px){


    .home-img{
        width: auto; 
        height: 300px;
    }

    .product-img{
        width: 100%; 
        height: 400px;
    }

    .product-content{
        display: block;
    }

    .width {
        width: 100%;
        margin-top: 30%;
    }
}

@media screen and (max-width: 992px){

    .home-img{
        width: auto; 
        height: 400px;
    }

    .product-img{
        width: 96%; 
        height: 300px;
    }

    .width {
        width: 80%;
        margin-top: 16%;
    }
}

@media screen and (max-width: 1200px){

    .home-img{
        width: auto; 
        height: 400px;
    }

    .width {
        width: 80%;
        margin-top: 10%;
    }
}